* {
  /* font-family: "Mochiy Pop One", sans-serif; */
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  background: #fb493f;
}

::selection {
  background: #fb493f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ================= Navbar ================= */
.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #e7e7e7;
}
.nav-link {
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #2f373d !important;
}
.nav-link:hover {
  color: #fb493f !important;
}
.navbar-brand img {
  width: 100% !important;
  height: auto !important;
}
.navbar-lottie-container {
  width: 50px;
  height: 50px;
  margin: 0 !important;
}
.navbar-lottie {
  width: 40px !important;
  height: 40px !important;
}
.ol_nerdy {
  width: 80px;
  height: auto;
  margin-left: 15px !important;
}

/* ================= Home Page Banner ================= */
.homepage-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homepage-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homepage-banner-section {
  background-image: url("../assets/images/backgrounds/bg-1.png");
  width: 100% !important;
  height: 450px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px !important;
}
.homepage-banner-section h1 {
  text-transform: uppercase !important;
  color: #fb493f !important;
  font-weight: bold;
}
.homepage-banner-section h3 {
  letter-spacing: 10px !important;
  margin: 20px !important;
}
.homepage-banner-section p {
  text-align: center !important;
  margin-top: 10px;
  font-size: 20px;
}

/* ================= About Section ================= */
.about-page-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-page-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-page-banner-section {
  background-image: url("../assets/images/backgrounds/bg-2.png");
  width: 100% !important;
  height: 450px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px !important;
}
.about-page-section {
  text-transform: uppercase !important;
  color: #fb493f !important;
  font-weight: bold;
  font-size: 20px !important;
  letter-spacing: 10px;
}
.about-page-screen-name {
  margin: 20px !important;
  font-family: "Mochiy Pop One", sans-serif !important;
  font-size: 44px !important;
}
.about-content-container {
  display: flex !important;
}
.about-content-left {
  padding: 40px !important;
  background-color: #2f373d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about-content-left p {
  color: #fff !important;
}
.about-content-left #about-heading {
  margin: 0 !important;
  color: #ff9c02 !important;
  font-weight: 600 !important;
  font-size: 20px;
}
.about-content-left h1 {
  color: #fff;
  font-family: "Mochiy Pop One", sans-serif !important;
  margin-bottom: 15px !important;
}
.about-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.about-content-right img {
  width: 100%;
  height: auto;
}
/* ================= Founders Button Section ================= */
.founders-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #7f5aff;
}
.left-btn {
  background-color: #ffbd54;
  text-align: center;
  padding: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.center-btn {
  background-color: #ffae2d;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.right-btn {
  background-color: #ff9c02;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* ================= Founders Section ================= */
.founders-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #7f5aff !important;
}
.founders-left-section {
  padding: 40px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.founders-left-section p {
  font-weight: bold;
  color: #ffae2d !important;
  font-size: 20px;
}
.founders-left-section h3 {
  color: #fff !important;
}
.founders-right-section {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.founders-right-section p {
  color: #fff;
}

/* ================= Founders Profile Section ================= */
.founder-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.founder-profile-left-section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
}

/* ================= Curriculum & Amenities Section ================= */
.content-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-icon {
  font-size: 36px;
  color: #fb493f !important;
  margin-bottom: 15px;
}
.content-heading-container h3 {
  font-family: "Mochiy Pop One", sans-serif !important;
  margin-bottom: 10px;
}
.content-heading-container p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #6b8192;
}
.rectangle-card {
  width: 500px;
  height: 200px;
  border: 1px solid #e7e7e7;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(158, 158, 158, 1);
  box-shadow: 0px 0px 20px 0px rgba(158, 158, 158, 1);
  background-color: #fff !important;
  border-top: 30px solid #fb493f !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.rectangle-card#blue {
  border-top: 30px solid #2b76df !important;
}
.rectangle-icon {
  font-size: 30px;
  color: #fb493f !important;
}
.rectangle-icon#blue-icon {
  font-size: 30px;
  color: #2b76df !important;
}
.reactangle-card-heading {
  font-weight: bold;
  font-size: 20px !important;
}
.reactangle-card-details {
  font-size: 14px !important;
}

/* ================= Feature Brief Section ================= */
.feature-brief-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-brief-left {
  padding: 100px !important;
  background-color: #e7e7e7e7 !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}
.feature-brief-left h4 {
  font-size: 30px !important;
  font-family: "Mochiy Pop One", sans-serif !important;
  text-align: left;
  margin-bottom: 20px !important;
}
.feature-brief-left p {
  text-align: left;
  padding-right: 50px !important;
  font-size: 14px !important;
}
.feature-btn-small-left {
  text-decoration: none !important;
  background-color: #fb493f !important;
  width: 150px !important;
  text-align: center;
  border-radius: 50px !important;
  padding: 10px !important;
  color: #fff !important;
  border: 2px solid #fb493f !important;
}
.feature-btn-small-left:hover {
  background-color: #fff !important;
  color: #fb493f !important;
  transition: 0.3s all ease-in-out !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff !important;
}
.feature-brief-right {
  padding: 100px !important;
  background-color: #fb493f !important;
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  flex-direction: column !important;
}
.feature-brief-right h4 {
  font-size: 30px !important;
  font-family: "Mochiy Pop One", sans-serif !important;
  text-align: right !important;
  color: #fff !important;
  margin-bottom: 20px;
}
.feature-brief-right p {
  text-align: right;
  padding-left: 50px !important;
  font-size: 14px !important;
  color: #fff;
}
.feature-btn-small-right {
  text-decoration: none !important;
  width: 150px !important;
  text-align: center;
  border-radius: 50px !important;
  border: 2px solid #fff !important;
  padding: 10px !important;
  color: #fff !important;
}
.feature-btn-small-right:hover {
  background-color: #fff !important;
  color: #fb493f !important;
  transition: 0.3s all ease-in-out !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* ================= Home Page About Brief Section ================= */
.about-brief {
  background-image: url("../assets/images/backgrounds/bg-2.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 200px !important;
  background-attachment: fixed;
  min-height: 400px;
}
.about-icon {
  font-size: 30px !important;
  color: darkblue !important;
  margin-bottom: 20px !important;
}
.about-brief h5 {
  font-family: "Mochiy Pop One", sans-serif !important;
  font-size: 30px !important;
  margin-bottom: 20px !important;
}
.about-brief p {
  text-align: center;
  padding-left: 50px !important;
  padding-right: 50px !important;
  font-size: 20px !important;
}

/* ================= Homepage Principal Brief Section ================= */
.homepage-principal-brief {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.homepage-principal-brief-left {
  background-image: url("../assets/images/backgrounds/bg-3.png");
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 400px !important;
  padding: 50px;
  display: flex;
  justify-content: center !important;
  align-items: flex-start;
}
.homepage-principle-brief-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.homepage-principle-brief-content p {
  color: #fff !important;
}
.homepage-principle-brief-content h4 {
  color: #fff !important;
  font-weight: bold !important;
}
.home-page-under-button-extreme-left {
  background-color: #ffbd54;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 0 !important;
}
.home-page-under-button-left {
  background-color: #ffae2d;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 0 !important;
}
.home-page-under-button-right {
  background-color: #ff9c02;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 0 !important;
  border-bottom-right-radius: 30px !important;
}
.read-more-btn-sm {
  background-color: #fb493f;
  width: 120px;
  padding: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
}
.read-more-btn-sm:hover {
  color: #fff;
  transition: 0.3s all ease-in-out !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* ================= Homepage Amenities ================= */
.amenities-section {
  margin-top: 100px !important;
  margin-bottom: 40px !important;
}
.amenities-heading {
  letter-spacing: 15px;
  color: darkblue;
  font-weight: bold;
}
.amenities-card {
  width: 350px;
  height: 380px;
  background-color: #ff9c02;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}
.amenities-card#blue {
  background-color: #2b76df;
}
.amenities-card-icon-holder#icon-holder-blue {
  background-color: #5591e5 !important;
}
.amenities-card#green {
  background-color: #74bc19;
}
.amenities-card-icon-holder#icon-holder-green {
  background-color: #90c947 !important;
}
.amenities-card#purple {
  background-color: #7f5aff;
}
.amenities-card-icon-holder#icon-holder-purple {
  background-color: #997bff !important;
}
.amenities-card#red {
  background-color: #ff7355;
}
.amenities-card-icon-holder#icon-holder-red {
  background-color: #ff8f77 !important;
}
.amenities-card#gray {
  background-color: #466177;
}
.amenities-card-icon-holder#icon-holder-gray {
  background-color: #6b8192 !important;
}
.amenities-card-icon-holder {
  width: 100px;
  height: 100px;
  background-color: #ffb035;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.amenities-card-icon {
  font-size: 28px;
  color: #fff;
}
.amenities-card p {
  color: #fff;
}
.sm-label {
  font-weight: 500;
  color: #fff;
}
.amenities-card a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.amenities-card:hover a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* ================= Academics ================= */
.academics-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.academics-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.academics-banner-section {
  background-image: url("../assets/images/backgrounds/bg-2.png");
  width: 100% !important;
  height: 450px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px !important;
}
.academics-page-section {
  text-transform: uppercase !important;
  color: #fb493f !important;
  font-weight: bold;
  font-size: 20px !important;
  letter-spacing: 10px;
}
.academics-screen-name {
  margin: 20px !important;
  font-family: "Mochiy Pop One", sans-serif !important;
  font-size: 44px !important;
}
.academics-content-container {
  display: flex !important;
}
.academics-content-left {
  padding: 40px !important;
  background-color: #2f373d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.academics-content-left p {
  color: #fff !important;
}
.academics-content-left #academics {
  margin: 0 !important;
  color: #ff9c02 !important;
  font-weight: 600 !important;
  font-size: 20px;
}
.academics-content-left h1 {
  color: #fff;
  font-family: "Mochiy Pop One", sans-serif !important;
  margin-bottom: 15px !important;
}
.academics-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.academics-content-right img {
  width: 100%;
  height: auto;
}

/* ================= Common Elements ================= */
.grid-container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-start;
  align-items: center;
}
.section-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px !important;
}
.section-header p {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #fb493f;
  letter-spacing: 20px !important;
  text-align: center;
}
.line {
  width: 200px !important;
  border-bottom: 0.5px solid #2f373d !important;
  margin: 20px;
}
.vertical-line {
  border-left: 10px solid orange !important;
  height: 300px !important;
  margin-right: 25px !important;
}

/* ================= Contact ================= */
.contact-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  flex: 1;
  height: 180px !important;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.contact-card#contact-red {
  background-color: #fb493f;
}
.contact-card#contact-mango {
  background-color: #ff9c02;
}
.contact-card#contact-blue {
  background-color: #5591e5;
}
.contact-label {
  font-weight: bold;
  color: #e7e7e7e7 !important;
  font-family: "Mochiy Pop One", sans-serif !important;
  font-size: 14px;
  text-align: center;
}
.contact-description {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 0 !important;
}
.contact-form-container {
  background-color: #7f5aff;
  border-radius: 10px;
  padding: 100px !important;
}
.contact-form-container p {
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.contact-input {
  background-color: #7251e5 !important;
  border: 0 !important;
  color: #fff !important;
}
.contact-input-label {
  color: #fff !important;
}
.contact-button {
  background-color: #fff !important;
  border: 0 !important;
  color: #7251e5 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

/* ================= Buttons ================= */
.anchor-button-xl {
  width: 200px;
  height: auto;
  background-color: #fb493f !important;
  border-radius: 50px;
  text-decoration: none !important;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-weight: 500 !important;
}
.anchor-button-xl:hover {
  color: #fff;
  transition: 0.3s all ease-in-out !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

/* ================= Footer ================= */
.footer {
  border-top: 1px solid #e7e7e7 !important;
  padding: 40px !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff !important;
}
.footer-first-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-icon {
  margin-right: 10px;
  font-size: 20px !important;
  color: #fb493f !important;
}
.footer ul {
  margin-right: 50px !important;
}
.footer li {
  list-style-type: none;
  margin-bottom: 10px !important;
}
.footer-menu {
  text-decoration: none;
  color: #000;
}
.footer-menu:hover {
  text-decoration: none;
  color: #fb493f !important;
}
.development-footer {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding-top: 10px !important;
  background-color: #fff;
}
.development-footer p {
  color: #fb493f !important;
}
.development-footer a {
  text-decoration: none !important;
  color: #2f373d !important;
  font-weight: bold;
}
.development-footer a:hover {
  color: #3b8b18 !important;
  transition: 0.3s all ease-in-out !important;
}

/* ================= Responsive ================= */
@media only screen and (max-width: 768px) {
  /* ================= Navbar ================= */
  .navbar {
    position: fixed !important;
    width: 100% !important;
    overflow: scroll !important;
    z-index: 100 !important;
  }
  .social-media-mobile-navbar {
    border-top: 1px solid #fb493f !important;
    padding-top: 5px !important;
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }
  .navbar-lottie-container {
    width: 50px;
    height: 50px;
    margin-left: 10px !important;
  }
  .ol_nerdy {
    width: 80px;
    height: auto;
    margin-top: 10px !important;
    margin-left: 0 !important;
  }

  /* ================= Home Page Banner ================= */
  .homepage-banner-section {
    background-image: url("../assets/images/backgrounds/bg-1.png");
    width: 360px !important;
    height: 450px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px !important;
  }
  .homepage-banner-section h1 {
    display: none !important;
  }
  .homepage-banner-section h3 {
    text-align: center !important;
    letter-spacing: 10px !important;
    font-size: 16px !important;
    margin: 5px !important;
    font-weight: bold;
  }
  .homepage-banner-section p {
    text-align: center !important;
    margin-top: 5px;
    font-size: 12px;
  }

  /* ================= Buttons ================= */
  .anchor-button-xl {
    width: 100px;
    height: auto;
    background-color: #fb493f !important;
    border-radius: 50px;
    text-decoration: none !important;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500 !important;
    font-size: 12px !important;
  }
  .anchor-button-xl:hover {
    color: #fff;
    transition: 0.3s all ease-in-out !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  }

  /* ================= Feature Brief Section ================= */
  .feature-brief-section {
    flex-direction: column !important;
  }
  .feature-brief-left {
    padding: 50px !important;
  }
  .feature-brief-right {
    padding: 50px !important;
  }
  .feature-brief-left h4 {
    font-size: 24px !important;
  }
  .feature-brief-right h4 {
    font-size: 24px !important;
  }
  .feature-brief-left p {
    padding-left: 10px !important;
  }
  .feature-brief-right p {
    padding-left: 10px !important;
  }

  /* ================= Homepage About Brief Section ================= */
  .about-brief {
    background-image: url("../assets/images/backgrounds/bg-2.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 10px !important;
    background-attachment: fixed;
    min-height: 500px;
    width: 360px !important;
    height: 400px !important;
  }
  .about-icon {
    font-size: 30px !important;
    color: darkblue !important;
    margin-bottom: 20px !important;
  }
  .about-brief h5 {
    font-family: "Mochiy Pop One", sans-serif !important;
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  .about-brief p {
    text-align: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 16px !important;
  }

  /* ================= About Section ================= */
  .about-page-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-page-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-page-banner-section {
    background-image: url("../assets/images/backgrounds/bg-2.png");
    width: 100% !important;
    height: 450px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px !important;
  }
  .about-page-section {
    text-transform: uppercase !important;
    color: #fb493f !important;
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: 10px;
  }
  .about-page-screen-name {
    margin: 20px !important;
    font-family: "Mochiy Pop One", sans-serif !important;
    font-size: 36px !important;
  }
  .about-content-container {
    flex-direction: column;
  }
  .about-content-right img {
    max-width: 100%;
    height: auto;
  }

  /* ================= Academics Section ================= */
  .academics-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .academics-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .academics-banner-section {
    background-image: url("../assets/images/backgrounds/bg-2.png");
    width: 100% !important;
    height: 450px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px !important;
  }
  .academics-page-section {
    text-transform: uppercase !important;
    color: #fb493f !important;
    font-weight: bold;
    font-size: 20px !important;
    letter-spacing: 10px;
  }
  .academics-page-screen-name {
    margin: 20px !important;
    font-family: "Mochiy Pop One", sans-serif !important;
    font-size: 36px !important;
  }
  .academics-content-container {
    flex-direction: column;
  }
  .academics-content-right img {
    max-width: 100%;
    height: auto;
  }

  /* ================= Founders Button Section ================= */
  .founders-btn-container {
    flex-direction: column !important;
  }
  .left-btn {
    border-bottom-left-radius: 0;
    width: 100% !important;
  }
  .center-btn {
    width: 100% !important;
  }
  .right-btn {
    width: 100% !important;
  }

  /* ================= Homepage Principal Brief Section ================= */
  .homepage-principal-brief {
    flex-direction: column !important;
    max-width: 100% !important ;
  }
  .homepage-principal-brief-left {
    width: 100% !important;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .homepage-principal-btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
  .home-page-under-button-extreme-left {
    width: 100% !important;
    margin-bottom: 2px;
  }
  .home-page-under-button-left {
    width: 100% !important;
    margin-bottom: 2px;
  }
  .home-page-under-button-right {
    width: 100% !important;
    margin-bottom: 2px;
    border-bottom-right-radius: 0 !important;
  }
  .read-more-btn-sm {
    background-color: #fb493f;
    width: 120px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
  }
  .read-more-btn-sm:hover {
    color: #fff;
    transition: 0.3s all ease-in-out !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  .homepage-principal-brief-left .vertical-line {
    display: none !important;
  }

  /* ================= Founders Section ================= */
  .founders-content-container {
    flex-direction: column !important;
  }

  /* ================= Curriculum & Amenities Section ================= */
  .rectangle-card {
    height: 300px;
    flex-direction: column;
  }
  .rectangle-icon {
    font-size: 30px;
    color: #fb493f !important;
    margin-bottom: 10px !important;
  }

  /* ================= Contact ================= */
  .contact-section-container {
    flex-direction: column !important;
  }
  .contact-card {
    width: 100%;
  }
  .contact-card#contact-red {
    background-color: #fb493f;
  }
  .contact-card#contact-mango {
    background-color: #ff9c02;
  }
  .contact-card#contact-blue {
    background-color: #5591e5;
  }
  .contact-label {
    font-weight: bold;
    color: #e7e7e7e7 !important;
    font-family: "Mochiy Pop One", sans-serif !important;
    font-size: 14px;
    text-align: center;
  }
  .contact-description {
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: 0 !important;
  }
  .contact-form-container {
    padding: 30px !important;
    width: 95% !important;
  }
  .contact-form-container p {
    font-size: 30px;
    margin-bottom: 20px;
  }

  /* ================= Footer ================= */

  .footer {
    border-top: 1px solid #e7e7e7 !important;
    padding: 10px !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
    left: 0 !important;
  }
  .development-footer {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px !important;
    background-color: #fff;
  }
  .development-footer p {
    color: #fb493f !important;
    text-align: center !important;
    font-size: 12px !important;
  }
}
