* {
  /* font-family: "Caveat", cursive; */
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #db7414;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ========== NAVBAR ========== */
.navbar-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}
.top-nav {
  background-color: #db7414;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.top-nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.top-nav-row p {
  margin: 0;
  margin-right: 3px;
  color: #fff;
}
.top-nav-row a {
  margin: 0;
  margin-right: 3px;
  text-decoration: none;
  color: #fff;
}
.top-nav-row a:hover {
  color: #2f3030;
  transition: 0.2s all ease-in-out;
}
.top-nav-brand {
  max-width: 2%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db7414 !important;
}
.top-nav-brand img {
  width: 100% !important;
  height: auto;
}
.top-nav-row ion-icon {
  color: #fff !important;
  font-size: 50px !important;
}
.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #e7e7e7;
}
.navbar-brand {
  max-width: 5%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-brand img {
  width: 100% !important;
  height: auto;
}
.nav-link-hindi {
  font-size: 20px !important;
}
.change-lang-btn {
  border: 1px solid #e7e7e7 !important;
  background-color: #db7414 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #e7e7e7;
}
.change-lang-btn ion-icon {
  font-size: 18px !important;
  margin-right: 5px;
  color: #e7e7e7;
}
.change-lang-btn:hover {
  border: 1px solid #e7e7e7 !important;
  background-color: #e7e7e7 !important;
  color: #db7414 !important;
}
.desktop-view {
  display: none;
}
.navbar-social-media-icons a {
  text-decoration: none;
  color: #000;
}
.navbar-social-media-icons a:hover {
  text-decoration: none;
  color: #db7414;
  transition: 0.3s all ease-in-out;
}
.navbar-social-media-icons ion-icon {
  font-size: 30px;
  margin-right: 10px;
}

/* ========== HOMEPAGE MODAL ========== */
.lang-selection-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.lang-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lang-options img {
  width: 20%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

/* ========== HOMEPAGE SECTION 1 ========== */
.carosuel-container {
  margin-top: 170px;
}

/* ========== HOMEPAGE SECTION 2 ========== */
.section-2-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2-container h1 {
  font-weight: bold;
  margin: 0;
  text-align: right;
}
.section-2-container p {
  font-size: 20px;
  text-align: right;
}
.homepage-section-2-content {
  margin-top: 30px;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.homepage-section-2-content p {
  font-size: 16px;
  text-align: right;
}
.homepage-section-2-btn {
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  background-color: #db7414;
  color: #fff;
  padding: 10px;
  text-align: right;
}
.homepage-section-2-btn:hover {
  transition: 0.5s all ease-in-out;
  background: rgb(219, 116, 20);
  background: linear-gradient(
    132deg,
    rgba(219, 116, 20, 1) 10%,
    rgba(255, 255, 255, 1) 50%,
    rgba(135, 203, 56, 1) 100%
  );
  border: 0;
  color: #000;
}
.homepage-section-2-carousel-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

/* ========== HOMEPAGE SECTION 3 ========== */
.homepage-section-3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  max-height: 50%;
}
.homepage-section-3-container.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.homepage-section-3-container.fade-in.visible {
  opacity: 1;
}

/* ========== HOMEPAGE SECTION 4 ========== */
.homepage-section-4-container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  padding: 50px;
}
.section-heading {
  margin-bottom: 100px;
}
.section-heading h2 {
  text-align: center;
  font-size: 66px;
  font-weight: bold;
}
.homepage-section-4-video-tab-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.homepage-section-4-video-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-bottom: 100px;
}
.homepage-section-video-container {
  width: 100%;
  height: 315px;
  border-radius: 20px;
}
.homepage-section-4-content-tab {
  margin-left: 20px;
}
.homepage-section-4-content-tab h3 {
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.homepage-section-4-content-tab p {
  font-weight: 600;
  font-size: 24px;
  width: 75%;
  line-height: 30px;
}

/* ========== HOMEPAGE SECTION 5 ========== */
.homepage-section-5-container {
  background-color: #f8f6f1 !important;
  padding: 40px;
}
.homepage-section-5-container h4 {
  font-size: 100px !important;
  font-weight: bold;
}
.homepage-section-5-container p {
  font-size: 30px !important;
  font-weight: bold;
  margin-top: 100px;
  width: 35%;
}
.homepage-section-5-press-release-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  width: 100% !important;
}
.homepage-section-5-press-release-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  max-height: 400px;
  width: 400px;
  height: 400px;
  margin-bottom: 50px;
}
.homepage-section-5-press-release-card:hover {
  background-color: #fff;
  transition: 0.5s all ease-in-out;
  -webkit-box-shadow: 0px 21px 91px -36px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 91px -36px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 21px 91px -36px rgba(0, 0, 0, 0.75);
}
.homepage-section-5-press-release-content {
  font-size: 24px !important;
  width: 100% !important;
  font-weight: 500;
}
.homepage-section-5-press-release-card p {
  font-size: 18px !important;
  font-family: "Caveat", cursive;
  width: 100% !important;
  margin: 0 !important;
}
.homepage-section-5-read-more-btn {
  border: 0 !important;
  background-color: #00000000 !important;
  margin-top: 20px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.homepage-section-5-read-more-btn p {
  text-align: left;
}

/* ========== PRESS RELEASE SOLO ========== */
.press-release-solo-container {
  margin-top: 250px;
  margin-bottom: 100px;
}
.solo-press-release-tab {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.solo-press-release-tab img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.solo-press-release-tab h2 {
  font-weight: bold;
}
.solo-press-release-tab p {
  font-size: 20px;
  margin-bottom: 20px;
}

.solo-press-release-tab a {
  text-decoration: none;
  margin-bottom: 20px;
  color: #db7414;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 24px;
}

/* ========== HOMEPAGE SECTION 6 ========== */
.section-6-mobile-view {
  display: none;
}
.section-6-container {
  background-color: #3b5998 !important;
}
.social-media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.social-media-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-tab iframe {
  width: 350px !important;
  height: 350px !important;
  margin: 30px;
}
.social-media-carousel-left-icon {
  background-image: url("../assets/icons/arrow-left.svg");
}
.social-media-carousel-right-icon {
  background-image: url("../assets/icons/arrow-right.svg");
}
.section-6-follow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-6-follow-btn {
  text-decoration: none;
  color: #fff;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.section-6-follow-btn h3 {
  margin: 0;
}
.section-6-follow-btn ion-icon {
  font-size: 36px !important;
  color: #fff !important;
}

/* ========== HOMEPAGE SECTION 7 ========== */
.section-7-container {
  background-color: #1da1f2 !important;
}
.section-7-mobile-container {
  display: none;
}

/* ========== ABOUT SECTION 1 ========== */
.about-section-1-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about-section-1-container img {
  width: 100%;
  height: auto;
}
.about-section-1-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-section-1-content p {
  font-size: 24px;
  text-align: justify;
}

/* ========== ABOUT SECTION 2 ========== */
.about-section-2 {
  margin-top: 150px;
  margin-bottom: 50px;
}
.about-section-2-heading {
  margin-left: 100px !important;
}
.about-section-2-heading h1 {
  font-family: "Caveat", cursive !important;
  font-size: 100px;
  color: #db7414 !important;
  text-align: center;
}
.about-section-2-heading h2 {
  font-family: "Caveat", cursive !important;
  font-size: 100px;
  color: #db7414 !important;
  text-align: center;
}
.about-section-2-heading-hindi h1 {
  font-size: 100px;
  color: #db7414 !important;
  text-align: center;
}
.about-section-2-heading-hindi h2 {
  font-size: 100px;
  color: #db7414 !important;
  text-align: center;
}
.about-section-2-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about-section-2-content p {
  font-size: 24px;
  text-align: justify;
}
.abt-section-2-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.abt-section-2-img-container img {
  width: 350px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

/* ========== ACHIEVEMENTS SECTION 1 ========== */
.achivement-mobile-view {
  display: none;
}
.achievement-section-1-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.achievement-section-1-container img {
  width: 100%;
  height: auto;
}
.achievement-section-1-content {
  margin-top: 100px;
  margin-bottom: 50px;
}
.achievement-section-1-content h3 {
  font-family: "Caveat", cursive !important;
  text-align: center;
  font-size: 100px !important;
  color: #db7414;
}
.achievement-section-1-content p {
  font-size: 24px;
  text-align: justify;
}
.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.timeline-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-right h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #db7414;
}
.timeline-right h5 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: #000;
}
.timeline-right p {
  margin: 0;
  color: #000;
  text-align: left !important;
  font-size: 16px !important;
}
.timeline-left h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #db7414;
}
.timeline-left h5 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: #000;
  text-align: right;
}
.timeline-left p {
  margin: 0;
  color: #000;
  text-align: right !important;
  font-size: 16px !important;
}

.timeline-line {
  border: 1px solid #777;
  height: 75px;
  background-color: #777;
  width: 2px !important;
}
.timeline-line-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timeline-circle {
  color: #000;
  border: 1px solid green;
  border-radius: 100px;
  background-color: green;
  padding: 5px;
  margin: 3px;
}
.timeline-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
  margin-left: 30px;
}
.timeline-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 350px;
  margin-right: 30px;
}
.empty-timeline {
  width: 380px;
}

/* ========== INSPIRATION SECTION 1 ========== */
.inspiration-section-1-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  padding: 20px;
}
.inspiration-section-1-container img {
  width: 100%;
  height: auto;
}
.inspiration-content h2 {
  font-family: "Caveat", cursive !important;
  margin: 0;
  font-size: 60px;
  color: #db7414;
  font-weight: bold;
}
.inspiration-content p {
  font-size: 20px;
}

/* ========== DEVELOPMENT SECTION 1 ========== */
.development-section-1-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.development-section-1-container img {
  width: 100%;
  height: auto;
}

/* ========== PRESS RELEASE ========== */
.press-release-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.press-release-card {
  width: 400px;
  height: 450px;
  border: 1px solid #e7e7e7;
}
.press-release-card img {
  width: 100%;
  height: auto;
}
.press-release-card-content-holder {
  padding: 10px;
}
.press-release-card-content-holder h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.press-release-content {
  overflow: hidden;
  position: relative;
  max-height: 48px;
}
.press-release-content::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 5px;
  background-color: #fff;
}
.press-release-btn {
  border: 0;
  background-color: #db7414;
  border-radius: 5px;
  color: #fff;
  padding: 3px;
}

/* ========== CONTACT ========== */
.contact-section-header {
  margin-top: 250px;
}
.contact-section-header h2 {
  font-weight: 600;
  margin: 0;
  color: #db7414;
}
.contact-form-container {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact-details {
  margin-bottom: 20px;
  border: 1px solid #e7e7e7 !important;
  border-radius: 10px;
  padding: 25px;
  margin-right: 20px;
}
.contact-details-label {
  font-weight: bold !important;
  margin: 0;
  color: #db7414;
}
.contact-details-res-link {
  text-decoration: none;
  color: #000;
  font-size: 20px !important;
  margin: 0;
}
.contact-details-res {
  color: #000;
  font-size: 20px !important;
  margin: 0;
}
.contact-form {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 40px;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #2f3030;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.footer-main-section {
  max-width: 20%;
}
.footer-img-section {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
}
.footer-img-section img {
  width: 100%;
  height: auto;
}
.footer-details {
  width: 100% !important;
  margin-bottom: 25px;
}
.footer-details p {
  margin: 0;
  color: #fff;
  font-weight: 200 !important;
}
.footer-details a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.footer-details a:hover {
  color: #db7414;
  transition: 0.3s all ease-in-out;
}
.footer-menu p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 30px !important;
}
.footer-menu ul {
  list-style-type: none;
}
.footer-menu li {
  margin-bottom: 20px;
}
.footer-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.footer-menu a:hover {
  color: #db7414;
  transition: 0.3s all ease-in-out;
}
.developer-footer {
  width: 100%;
  background-color: #000;
  margin: 0;
  margin-bottom: 0 !important;
  padding: 10px;
}
.developer-footer p {
  color: #db7414;
  text-align: center;
  font-size: 20px;
}
.developer-footer a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* ========== NAVBAR ========== */
  .top-nav {
    display: none;
  }
  .navbar-brand {
    max-width: 25%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar-brand img {
    width: 80% !important;
    height: auto;
  }
  .nav-link-hindi {
    font-size: 16px !important;
  }
  .mobile-flex {
    display: flex;
    flex-direction: column;
  }
  .desktop-view {
    display: initial;
  }
  .change-lang-btn {
    border: 1px solid #e7e7e7 !important;
    background-color: #db7414 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #e7e7e7;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  .change-lang-btn ion-icon {
    font-size: 18px !important;
    margin-right: 5px;
    color: #e7e7e7;
  }
  .navbar-social-media-icons {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .change-lang-btn:hover {
    border: 1px solid #e7e7e7 !important;
    background-color: #e7e7e7 !important;
    color: #db7414 !important;
  }
  .navbar-social-media-icons a {
    text-decoration: none;
    color: #000;
  }
  .navbar-social-media-icons a:hover {
    text-decoration: none;
    color: #db7414;
    transition: 0.3s all ease-in-out;
  }
  .navbar-social-media-icons ion-icon {
    font-size: 30px;
    margin-right: 20px;
  }

  /* ========== HOMEPAGE MODAL ========== */
  .lang-selection-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
  }
  .lang-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100% !important;
    margin-bottom: 50px;
  }
  .lang-options img {
    width: 20%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* ========== HOMEPAGE SECTION 1 ========== */
  .carosuel-container {
    margin-top: 85px;
  }

  /* ========== HOMEPAGE SECTION 2 ========== */
  .section-2-container #homepageSection2Carousel {
    display: none;
  }
  .section-2-container {
    flex-direction: column-reverse;
  }
  .section-2-container h1 {
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 10px;
  }
  .section-2-container p {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
  .homepage-section-2-content {
    margin-top: 30px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .homepage-section-2-content p {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
  }
  .homepage-section-2-btn {
    text-decoration: none;
    border: 0;
    border-radius: 50px;
    background-color: #db7414;
    color: #fff;
    padding: 10px;
    text-align: right;
  }
  .homepage-section-2-btn:hover {
    transition: 0.5s all ease-in-out;
    background: rgb(219, 116, 20);
    background: linear-gradient(
      132deg,
      rgba(219, 116, 20, 1) 10%,
      rgba(255, 255, 255, 1) 50%,
      rgba(135, 203, 56, 1) 100%
    );
    border: 0;
    color: #000;
  }
  .homepage-section-2-carousel-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  }

  /* ========== HOMEPAGE SECTION 4 ========== */
  .homepage-section-4-video-tab-row {
    flex-direction: column;
  }
  .homepage-section-4-video-tab {
    max-width: 100%;
    flex-direction: column;
  }
  .homepage-section-video-container {
    width: 100%;
    height: 315px;
    border-radius: 20px;
  }
  .homepage-section-4-content-tab {
    margin-left: 0;
    margin-top: 15px;
  }
  .homepage-section-4-content-tab p {
    width: 100%;
  }

  /* ========== HOMEPAGE SECTION 5 ========== */
  .homepage-section-5-container {
    background-color: #f8f6f1 !important;
    padding: 40px;
  }
  .homepage-section-5-container h4 {
    font-size: 30px !important;
    font-weight: bold;
    margin: 0;
  }
  .homepage-section-5-container p {
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 0;
    width: 100%;
    margin: 0;
  }
  .homepage-section-4-press-release-row {
    margin-top: 50px;
  }
  .homepage-section-4-press-release-card {
    height: 300px;
  }
  .homepage-section-5-press-release-content {
    font-size: 20px !important;
    width: 100% !important;
    font-weight: 500;
  }
  .homepage-section-4-press-release-card p {
    font-size: 20px !important;
    font-family: "Caveat", cursive;
    width: 100% !important;
    margin: 0 !important;
  }

  /* ========== HOMEPAGE SECTION 6 ========== */
  .section-6-desktop-view {
    display: none;
  }
  .section-6-mobile-view {
    display: initial;
    width: 100% !important;
    height: 100% !important;
  }
  .section-6-container-mobile {
    width: 100% !important;
    height: 100% !important;
  }
  .social-media-carousel-left-icon {
    background-image: url("../assets/icons/arrow-left.svg");
  }
  .social-media-carousel-right-icon {
    background-image: url("../assets/icons/arrow-right.svg");
  }
  .social-media-grid {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .social-media-tab {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* ========== HOMEPAGE SECTION 7 ========== */
  .section-7-container {
    display: none;
  }
  .section-7-mobile-container {
    display: initial !important;
    background-color: #fff !important;
    width: 100% !important;
  }

  /* ========== ABOUT SECTION 1 ========== */
  .about-section-1-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }
  .about-section-1-container img {
    width: 100%;
    height: auto;
  }
  .about-section-1-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about-section-1-content p {
    font-size: 16px;
    text-align: justify;
  }

  /* ========== ABOUT SECTION 2 ========== */
  .about-section-2 {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .about-section-2-heading {
    margin-left: 0 !important;
    width: 100%;
  }
  .about-section-2-heading h1 {
    font-family: "Caveat", cursive !important;
    font-size: 50px;
    color: #db7414 !important;
    text-align: center !important;
  }
  .about-section-2-heading h2 {
    font-family: "Caveat", cursive !important;
    font-size: 50px;
    color: #db7414 !important;
    text-align: center !important;
  }
  .about-section-2-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .about-section-2-content {
    margin-top: 50px;
  }
  .about-section-2-content p {
    font-size: 16px;
    text-align: justify;
  }
  .abt-section-2-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  }
  .abt-section-2-img-container img {
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }
  /* ========== ACHIEVEMENTS SECTION 1 ========== */
  .achivement-mobile-view {
    display: initial;
  }
  .achivement-desktop-view {
    display: none;
  }
  .achievement-section-1-content h3 {
    font-size: 40px !important;
  }
  .timeline-grid {
    flex-direction: column;
  }
  .timeline-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .timeline-center h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #db7414;
  }
  .timeline-center h5 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
  .timeline-center p {
    margin: 0;
    color: #000;
    text-align: center !important;
    font-size: 16px !important;
  }
  .timeline-line {
    border: 1px solid #777;
    height: 75px !important;
    background-color: #777;
    width: 2px !important;
  }

  /* ========== INSPIRATION SECTION 1 ========== */
  .inspiration-section-1-container {
    margin-top: 80px;
    flex-direction: column;
  }
  .inspiration-section-1-container img {
    width: 100%;
    height: auto;
  }
  .inspiration-content {
    margin-top: 50px;
  }
  .inspiration-content h2 {
    font-family: "Caveat", cursive !important;
    margin: 0;
    font-size: 60px;
    color: #db7414;
    font-weight: bold;
    text-align: center;
  }
  .inspiration-content h3 {
    text-align: center;
  }
  .inspiration-content p {
    font-size: 16px;
    text-align: center;
  }
  /* ========== CONTACT ========== */
  .contact-section-header {
    margin-top: 150px;
  }
  .contact-form-container {
    flex-direction: column;
  }
  .contact-details {
    margin-right: 0;
    width: 100%;
  }
  .contact-details-label {
    font-weight: bold !important;
    margin: 0;
    color: #db7414;
  }
  .contact-details-res-link {
    font-size: 16px !important;
  }
  .contact-details-res {
    font-size: 16px !important;
  }
  .contact-form {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
  }

  /* ========== FOOTER ========== */
  .footer {
    flex-direction: column;
    position: initial !important;
  }
  .footer-main-section {
    max-width: 100%;
  }
  .footer-img-section {
    max-width: 50%;
  }
  .footer-details {
    margin-bottom: 25px;
  }
  .footer-menu {
    margin-top: 50px;
  }
  .developer-footer {
    width: 100%;
    background-color: #000;
    margin: 0;
    margin-bottom: 0 !important;
    padding: 10px;
  }
  .developer-footer p {
    color: #db7414;
    text-align: center;
    font-size: 15px;
  }
  .developer-footer a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}
