::selection {
  color: #000;
  background: #f0c424;
}

/* ========= TOP NAVBAR ========= */
.top-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top-nav img {
  width: 20% !important;
  height: auto;
}
.top-nav-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  padding: 10px;
}
.top-nav-item {
  margin-right: 20px;
}
.top-nav-icon {
  color: #138dd5 !important;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-right: 5px;
}
.top-nav-link {
  margin: 0;
  color: #000000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* ========= MAIN NAVBAR ========= */
.navbar {
  background-color: #138dd5 !important;
  border-top: 2px solid #138dd5;
  border-bottom: 2px solid #138dd5;
}
.navbar:hover {
  background-color: #1c3746 !important;
  transition: 0.3s all ease-in-out;
  border-top: 2px solid #138dd5;
  border-bottom: 2px solid #138dd5;
}
.nav-link {
  color: #e0e0e0;
}
.nav-link:hover {
  color: #138dd5;
}
.navbar-brand {
  display: none !important;
}

/* ========= COLLEGE REGISTRATIONS ========= */
.section-container {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.reg-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.reg-section-card img {
  width: 20%;
}
.reg-section-card span {
  font-size: 10px;
  margin: 0;
  color: #777;
  font-weight: 700;
}
.reg-section-card p {
  font-size: 14px;
  margin: 0 !important;
  margin-left: 5px !important;
  font-weight: 600;
}

/* ========= HOME PAGE BRIEF SECTION ========= */
.home-page-brief-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-brief-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-brief-lottie lottie-player {
  width: 350px;
  height: 350px;
}
.home-page-brief-content {
  padding: 20px;
  max-width: 100%;
}
.home-page-brief-content h1 {
  font-weight: bold;
  margin: 0;
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 20px;
}
.home-page-brief-btn {
  background-color: #138dd5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 150px !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.home-page-brief-btn:hover {
  background-color: #1c3746;
  transition: 0.3s all ease-in-out;
}
.home-page-brief-btn a {
  text-decoration: none;
  color: #fff;
}

/* ========= DEVELOPER FOOTER ========= */
.developer-footer {
  background-color: #1c3746;
  padding: 10px;
}
.developer-footer p {
  margin: 0;
  color: #fff;
  text-align: center;
}
.developer-footer span a {
  color: #138dd5;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* ========= TOP NAVBAR ========= */
  .top-nav {
    display: none;
  }

  /* ========= MAIN NAVBAR ========= */
  .navbar {
    background-color: initial !important;
    border-bottom: 1px solid #1c3746;
  }
  .navbar:hover {
    background-color: initial !important;
    transition: none;
  }
  .navbar-brand {
    display: initial !important;
    max-width: 100%;
  }
  .navbar-brand img {
    width: 150px;
  }
  .nav-link {
    color: initial;
  }
  .nav-link:hover {
    color: initial;
  }

  /* ========= COLLEGE REGISTRATIONS ========= */
  .reg-section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  /* ========= HOME PAGE BRIEF SECTION ========= */
  .home-page-brief-section {
    flex-direction: column;
  }
  .home-page-brief-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-page-brief-content h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 44px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  .home-page-brief-content p {
    text-align: center;
  }
  .home-page-brief-lottie lottie-player {
    width: 300px;
    height: 300px;
    margin: 0 !important;
  }

  .home-page-brief-btn {
    background-color: #138dd5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .home-page-brief-btn:hover {
    background-color: #1c3746;
    transition: 0.3s all ease-in-out;
  }
  .home-page-brief-btn a {
    text-decoration: none;
    color: #fff;
  }

  /* ========= DEVELOPER FOOTER ========= */
  .developer-footer {
    background-color: #1c3746;
    padding: 10px;
    position: initial;
    bottom: 0;
  }
  .developer-footer p {
    margin: 0;
    color: #fff;
    text-align: center;
  }
  .developer-footer span a {
    color: #138dd5;
    text-decoration: none;
  }
}
