* {
  font-family: "Open Sans", sans-serif;
}
::selection {
  color: #fff;
  background: #5650ab;
}

/* ============= NAVIGATION ============= */
.navbar {
  margin: 10px;
  background-color: #fff !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px;
}
.navbar-brand {
  max-width: 100%;
  max-width: 100%;
}
.navbar-brand img {
  width: 30% !important;
  height: auto;
}
.nav-link {
  color: #5650ab !important;
  font-size: 14px;
  font-weight: 600;
}
.nav-link:hover {
  color: #d28440 !important;
  transition: 0.3s all ease-in-out;
}
.dropdown-item {
  color: #5650ab !important;
  font-size: 12px;
  font-weight: 600;
}

/* ============= HOME SCREEN BANNER ============= */
.home-screen-banner-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
.home-screen-banner-container img {
  width: 100% !important;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;
}
.homepage-chevron-container {
  text-decoration: none !important;
  margin-top: -60px !important;
}
.homepage-chevron {
  font-size: 50px;
  color: #fff;
}

/* ============= HOME PAGE BRIEF ============= */
.homepage-brief-row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px !important;
  margin-top: 100px !important;
}
.brief-content {
  max-width: 100% !important;
}
.brief-content h1 {
  margin: 0 !important;
  font-weight: 800;
  color: #5650ab !important;
  margin-bottom: 20px !important;
  line-height: 40px;
  font-size: 36px !important;
}
.brief-content p {
  margin: 0 !important;
  margin-bottom: 30px !important;
  margin-top: 30px;
}
.brief-content a {
  background-color: #fff;
  width: 100% !important;
  text-decoration: none !important;
  color: #d28440;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d28440;
}
.brief-content a:hover {
  background-color: #5650ab;
  transition: 0.3s all ease-in-out !important;
  color: #fff;
  border: 1px solid #5650ab;
}
.brief-img {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.brief-img img {
  width: 80% !important;
  height: auto;
}
.homepage-brief-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brief-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 15px;
}
#purple {
  background-color: #5650ab !important;
}
#orange {
  background-color: #ff9e38 !important;
  color: #ff9e38;
}
.brief-circle img {
  width: 60% !important;
  height: auto;
}
.homepage-brief-centered h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 800;
}
.homepage-brief-centered p {
  margin: 0;
  text-align: center;
}

/* ============= HOME PAGE WHY US ============= */
.homepage-why-us-container {
  background-color: #e7e7e7;
  margin-top: 50px;
  padding: 50px;
}
.homepage-why-us-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.homepage-why-us-header h2 {
  font-weight: 800;
  color: #5650ab;
  margin: 0;
}
.homepage-why-us-centered {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
}
.homepage-why-us-card {
  background-color: #fff;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
}
.homepage-why-us-icon {
  font-size: 40px;
  font-weight: 100 !important;
  margin-bottom: 20px;
  color: #ff9e38;
}
.homepage-why-us-card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.homepage-why-us-card p {
  margin: 0;
  text-align: justify;
  font-size: 14px !important;
}

/* ============= HOME PAGE SERVICES ============= */
.homepage-services-container {
  margin-top: 100px;
}
.homepage-services-icon {
  font-size: 30px !important;
}
.homepage-services-content {
  margin-bottom: 50px;
  margin: 10px;
}
.homepage-services-content h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.homepage-services-content p {
  font-size: 16px;
  margin: 0;
}

/* ============= HOME PAGE NEWS & EVENTS ============= */
.news-events-container {
  margin-top: 100px;
  padding: 30px;
}
.news-events-container h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #5650ab;
}
.news-events-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.news-events-card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(11, 22, 38, 0.3) !important;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.news-events-img-container {
  max-width: 300px;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.news-events-img-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news-events-content {
  padding: 10px;
}
.news-events-content p {
  margin: 0;
  color: #777;
  font-size: 14px;
}
.news-events-content h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.carousel-control-prev {
  background-color: #00000000;
  border: 0;
}
.carousel-control-next {
  background-color: #00000000;
  border: 0;
}
.carousel-control-prev-icon {
  color: #000;
  background-color: #000;
  margin-left: -50px;
}
.carousel-control-next-icon {
  color: #000;
  background-color: #000;
  margin-right: -50px;
}
.news-event-grid {
  display: none;
  flex-wrap: wrap;
}

/* ============= PAGE HEADER ============= */
.section-container-row {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-img-container {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-img-container img {
  width: 70%;
  height: auto;
}
.section-content-header h1 {
  font-weight: bold;
  color: #000;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 30px;
}
.section-content-header p {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}
.section-header-btn {
  background-color: #ff9e38;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}
.section-header-btn:hover {
  color: #fff;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.5) !important;
  transition: 0.3s all ease-in-out;
}

/* ============= ABOUT PAGE ============= */
.story-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.story-img {
  max-width: 750px;
  height: auto;
}
.story-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.story-content {
  margin-left: 20px;
}
.story-content p {
  line-height: 25px;
  margin: 0;
  font-size: 15px !important;
}
.story-content ul {
  margin-top: 10px;
}
.story-content li {
  font-size: 15px !important;
}
.custom-vector-icon {
  max-width: 100%;
  width: 100px;
  height: auto;
}
.custom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.card-1 {
  width: 370px;
  height: 350px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 20px;
}
.card-1 h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.card-1 p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #777;
}
.card-inner {
  background: rgb(247, 134, 19);
  background: linear-gradient(
    132deg,
    rgba(247, 134, 19, 1) 0%,
    rgba(255, 202, 54, 1) 16%,
    rgba(196, 71, 7, 1) 74%
  );
}
.card-inner h3 {
  color: #fff !important;
}
.card-inner p {
  color: #fff !important;
}
.about-section-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about-section-row h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

/* ============= STUDENT EXCELLENCE ============= */
.excellence-heading {
  margin-top: 50px;
}
.excellence-heading h1 {
  font-weight: bold;
  font-size: 24px !important;
}
.excellence-heading span {
  font-weight: bold;
  font-size: 24px !important;
  color: #5650ab;
}
.excellence-heading p {
  margin: 0;
  margin-bottom: 30px;
}
.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.xs-tab {
  width: 175px;
  height: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
}
.xs-tab:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  border: 0;
  border-radius: 10px;
  background-color: #5650ab;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

.xs-tab#excellence-1:hover {
  background-image: url("../assets/images/svg/excellence-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab#excellence-2:hover {
  background-image: url("../assets/images/svg/excellence-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab#excellence-3:hover {
  background-image: url("../assets/images/svg/excellence-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab#excellence-4:hover {
  background-image: url("../assets/images/svg/excellence-4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab#excellence-5:hover {
  background-image: url("../assets/images/svg/excellence-5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab#excellence-6:hover {
  background-image: url("../assets/images/svg/excellence-6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}
.xs-tab h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #ff9e38;
}
.xs-tab p {
  font-size: 10px;
  margin: 0;
}

/* ============= ART OF SELF LEARNING ============= */
.self-learning-heading {
  margin-top: 50px;
}
.self-learning-heading h1 {
  font-weight: bold;
  font-size: 24px !important;
}
.self-learning-heading span {
  font-weight: bold;
  font-size: 24px !important;
  color: #5650ab;
}
.self-learning-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-grid-tab {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}
.section-grid-lottie {
  width: 150px;
  height: 150px;
}
.section-grid-tab p {
  font-weight: bold;
  font-size: 10px;
  color: #5650ab;
  text-align: center;
}

/* ============= INNOVATIVE CURRICULUM SECTION ============= */
.innovative-section h2 {
  font-weight: bold;
  color: #5650ab;
}
.innovative-section span {
  color: #ff9e38;
}
.curriculum-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: flex-start;
}
.curriculum-details-card {
  width: 200px;
  height: auto;
}
.curriculum-details-card img {
  width: 40%;
  margin-bottom: 10px;
}
.curriculum-details-card h5 {
  font-size: 16px;
  font-weight: bold;
  color: #3d3d3d;
}
.caption {
  color: #777;
  font-weight: 600;
  font-size: 12px !important;
}
.curriculum-details-card p {
  color: #777;
  font-size: 12px;
}

/* ============= CHRONOLOGY SECTION ============= */
.chronology-section-heading {
  font-weight: bold;
  margin-top: 150px;
  font-size: 44px !important;
  text-align: center;
  margin-bottom: 100px !important;
}
.inner-text {
  color: #5650ab;
}
.chronology-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  flex-direction: column;
}
.chronology-card-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-border {
  border-left: 3px solid #5650ab;
  height: 60px;
  border-left-style: dotted;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.chronology-card-left-content {
  padding-left: 20px;
}
.circle-img-container {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-img-container img {
  width: 100% !important;
  height: auto;
  border-radius: 100px;
}
.chronology-card-left-content h3 {
  font-weight: 700;
  margin: 0;
  color: #ff9e38;
  font-size: 22px !important;
}

/* ============= SPICE SECTION ============= */
.spice-heading-container {
  margin-top: 100px;
}
.spice-heading-container h3 {
  font-weight: bold;
  color: #ff9e38;
  font-size: 36px;
  margin: 0;
}
.spice-heading-container p {
  font-weight: bold;
  color: #5650ab;
  margin: 0;
  margin-bottom: 30px;
}
.accordion-button {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #1f1e23 !important;
}
.accordion-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.accordion-img-container {
  max-width: 800px;
  max-height: 800px;
}
.accordion-img-container img {
  width: 100% !important;
  height: auto;
}
.accordion-content-section {
  padding-left: 20px;
}
.accordion-content-section h4 {
  font-weight: bold;
  color: #5650ab;
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
.accordion-content-section p {
  font-size: 14px;
}

/* ============= TEAM PAGE ============= */
.team-header h2 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 36px !important;
}
#team-text-color {
  color: #ff9e38;
}
.team-img-container {
  max-width: 350px !important;
  height: auto !important;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
.team-img-container img {
  width: 100% !important;
  height: auto;
  border-radius: 10px;
}
.about-team h3 {
  margin: 0 !important;
  font-weight: bold;
  color: #5650ab;
}
.about-team h4 {
  margin: 0;
  font-size: 20px !important;
  margin-bottom: 15px;
}
.about-team p {
  font-size: 14px;
  color: #000;
  text-align: justify;
}

/* ============= ADMISSION BANNER SECTION ============= */
.admission-page-banner {
  max-width: 100%;
  max-height: auto;
}
.admission-page-banner img {
  width: 100%;
  border-radius: 10px;
}
.admission-nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ff9e38;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.admission-nav-link {
  width: fit-content;
  margin-right: 20px;
}
.admission-nav-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.admission-nav-link:hover a {
  text-decoration: none;
  color: #5650ab;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}

/* ============= ADMISSION DETAILS SECTION ============= */
.admission-details-heading-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.admission-details-heading-section h2 {
  text-align: center;
  font-weight: bold;
}
.admission-section-line {
  border-bottom: 4px solid #ff9e38;
  width: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.admission-section-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px !important;
}
.admission-section-card {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
.admission-section-card li {
  font-size: 14px;
}
.admission-section-card h3 {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
.admission-section-card p {
  font-size: 14px;
  margin: 0;
}
.admission-section-card:hover {
  background-color: #5650ab;
  transition: 0.3s all ease-in-out;
}
.admission-section-card:hover li {
  font-size: 14px;
  color: #fff;
}
.admission-section-card:hover h3 {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}
.admission-section-card:hover p {
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.admission-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admission-section-lottie {
  width: 300px !important;
  height: 300px !important;
}
.admission-section-content h3 {
  color: #5650ab;
  font-weight: bold !important;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}
.admission-section-content p {
  color: #000;
  font-weight: 500 !important;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  margin-bottom: 10px;
}
.admission-section-content li {
  color: #000;
  font-weight: 500 !important;
  font-size: 14px;
  margin: 0;
}

/* ============= COURSE SECTION ============= */
.course-structure {
  margin-bottom: 100px !important;
}
.course-section-container {
  background-color: #ff9e38;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-section p {
  font-size: 14px;
  color: #fff;
}
.course-table td {
  color: #fff;
  font-size: 14px;
}
.course-section li {
  font-size: 14px;
  color: #fff;
}

/* ============= FEE SECTION ============= */
.fee-structure {
  border: 3px solid #5650ab;
  border-radius: 5px;
  padding: 20px;
}
.fee-structure li {
  font-size: 14px;
}
.fee-section-accordian-header {
  background-color: #5650ab !important;
  color: #fff !important;
}

/* ============= SCHOOL HOUSES ============= */
.school-houses-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.school-houses-header h2 {
  font-weight: bold;
  font-size: 44px;
  color: #ff9e38 !important;
  text-align: center;
}
.school-houses-header span {
  color: #5650ab !important;
}
.school-houses-grid {
  display: flex;
  flex-wrap: wrap;
}
.school-houses-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  border: 1px solid #e7e7e7;
}
.school-houses-text {
  flex: 1;
  padding: 10px;
  height: 170px;
}
.school-houses-text h3 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  color: #777 !important;
}
.school-houses-text h4 {
  font-weight: bold;
  text-align: center;
  color: #5650ab;
  font-size: 14px;
  margin-bottom: 10px;
}
.school-houses-text p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.school-houses-img {
  flex: 1;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.school-houses-img img {
  width: 100%;
  height: auto;
}
.school-houses-img:hover {
  flex: 1;
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s all ease-in-out;
}

/* ============= JAIPURIA EDGE SECTION ============= */
.je-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.je-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.je-img-holder img {
  width: 50%;
  height: auto;
}
.je-content-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  flex-direction: column;
}
.je-content-holder p {
  font-size: 14px;
}

/* ============= DOWNLOAD SECTION ============= */
.download-section-row {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.download-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.doc-img-container {
  max-width: 250px;
  max-height: auto;
  margin-bottom: 20px !important;
}
.doc-img-container img {
  width: 100%;
  height: auto;
}
.download-btn {
  text-decoration: none;
  color: #5650ab;
  border: 1px solid #5650ab;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.download-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #5650ab;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  transition: 0.3s all ease-in-out;
}

/* ============= CONTACT SECTION ============= */
.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.form-container {
  border: 1px solid #5650ab;
  border-radius: 10px;
  padding: 20px;
}
.form-label-custom {
  font-size: 14px !important;
}
.form-btn {
  background-color: #fff;
  color: #5650ab;
  border: 1px solid #5650ab;
  border-radius: 10px;
  padding: 10px;
}
.form-btn:hover {
  background-color: #5650ab;
  color: #fff;
  border: 1px solid #5650ab;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s all ease-in-out;
}

/* ============= FOOTER ============= */
.footer {
  margin: 10px;
  box-shadow: 0 0 8px rgba(11, 22, 38, 0.3) !important;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-top: 50px;
}
.footer-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
}
.footer-nav {
  text-decoration: none !important;
  color: #5650ab !important;
  list-style: none;
}
.footer-nav:hover {
  color: #0b1626 !important;
}
.footer-nav li {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}
.footer-logo {
  width: 50% !important;
  height: auto;
  margin-bottom: 15px;
}
.footer-label {
  margin: 0 !important;
  color: #d28440 !important;
}

/* ============= DEVELOPER SIGNATURE ============= */
.developer-signature {
  margin: 10px;
  background-color: #0b1626;
  box-shadow: 0 0 8px rgba(11, 22, 38, 0.3) !important;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer-signature a {
  margin: 0;
  text-align: center;
  color: #abababab;
  font-size: 14px;
  text-decoration: none;
}

/* ============= MEDIA QUERY ============= */
@media only screen and (max-width: 768px) {
  /* ============= NAVIGATION ============= */
  .navbar-brand img {
    max-width: 100% !important;
    width: 100px !important;
    height: auto !important;
  }
  .nav-link {
    color: #0a1057 !important;
    font-size: 12px;
    font-weight: 600;
  }
  .dropdown-item {
    color: #0a1057 !important;
    font-size: 12px;
    font-weight: 600;
  }

  /* ============= HOME SCREEN BANNER ============= */
  .homepage-chevron-container {
    margin-top: 0px !important;
    display: none !important;
  }

  /* ============= HOME PAGE BRIEF ============= */
  .homepage-brief-row {
    flex-direction: column !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    box-shadow: none !important;
    background-color: #fff;
    border-radius: 0;
  }
  .brief-content h1 {
    margin: 0 !important;
    font-weight: 800;
    color: #5650ab !important;
    font-size: 24px !important;
    margin-bottom: 20px !important;
    line-height: 30px !important;
  }
  .brief-img {
    display: none !important;
  }
  .homepage-brief-centered {
    margin-bottom: 30px !important;
  }

  /* ============= HOME PAGE WHY US ============= */
  .homepage-why-us-centered {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    flex-direction: column;
  }
  .homepage-why-us-card {
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
  }

  /* ============= HOME PAGE NEWS & EVENTS ============= */
  .news-event-carousel {
    display: none;
  }
  .news-event-grid {
    display: flex !important;
    flex-wrap: wrap;
  }
  .news-events-card {
    width: 100% !important;
    height: 450px !important;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(11, 22, 38, 0.3) !important;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .news-events-img-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .news-events-img-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .news-events-content p {
    margin: 0;
    color: #777;
    font-size: 16px;
  }
  .news-events-content h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  /* ============= PAGE HEADER ============= */
  .section-container-row {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: column;
  }
  .section-img-container {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-img-container img {
    width: 100%;
    height: auto;
  }
  .section-content-header h1 {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    line-height: 30px !important;
    margin-bottom: 10px;
  }
  .section-content-header p {
    color: #777;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .section-header-btn {
    background-color: #ff9e38;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  .section-header-btn:hover {
    color: #fff;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.5) !important;
    transition: 0.3s all ease-in-out;
  }

  /* ============= ABOUT PAGE ============= */
  .story-container {
    flex-direction: column;
  }
  .story-content {
    margin-left: 0px;
    margin-top: 20px;
  }
  .story-content p {
    line-height: 30px;
    margin: 0;
    text-align: center;
  }
  .card-1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-1 h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-1 p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777;
  }
  .about-section-row {
    flex-direction: column;
  }
  .about-section-row h3 {
    font-size: 24px;
    line-height: 50px;
    text-align: center;
  }

  /* ============= TEAM PAGE ============= */
  .team-header h2 {
    text-align: center !important;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 36px !important;
  }
  .team-img-container {
    max-width: 100% !important;
    height: auto !important;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
  }
  .team-img-container img {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
  }
  .about-team h3 {
    text-align: center;
  }
  .about-team h4 {
    text-align: center;
  }
  .about-team p {
    text-align: center;
    font-size: 16px;
  }

  /* ============= SPICE SECTION ============= */
  .spice-heading-container {
    margin-top: 100px;
  }
  .spice-heading-container h3 {
    text-align: center;
    letter-spacing: 20px;
  }
  .spice-heading-container p {
    text-align: center;
  }
  .accordion-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .accordion-img-container {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 20px;
  }
  .accordion-content-section {
    padding-left: 0px;
  }
  .accordion-content-section p {
    font-size: 14px;
    text-align: justify;
  }

  /* ============= ADMISSION SECTION ============= */
  .admission-nav-bar {
    padding: 10px;
    margin-bottom: 10px;
  }

  .admission-nav-link {
    width: fit-content !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .admission-nav-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 10px !important;
    text-align: center !important;
  }

  /* ============= ADMISSION DETAILS SECTION ============= */
  .admission-section-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .admission-section-card {
    height: 270px;
    flex-direction: column;
    margin-bottom: 20px !important;
  }
  .admission-section-card li {
    font-size: 14px;
  }
  .admission-section-card h3 {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .admission-section-card p {
    font-size: 14px;
    margin: 0;
  }
  .admission-section-card:hover {
    background-color: #5650ab;
    transition: 0.3s all ease-in-out;
  }
  .admission-section-card:hover li {
    font-size: 14px;
    color: #fff;
  }
  .admission-section-card:hover h3 {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  .admission-section-card:hover p {
    font-size: 14px;
    margin: 0;
    color: #fff;
  }
  .admission-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .admission-section-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
  }
  .admission-section-lottie {
    width: 200px !important;
    height: 200px !important;
  }
  .admission-section-content h3 {
    color: #5650ab;
    font-weight: bold !important;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  .admission-section-content p {
    color: #000;
    font-weight: 500 !important;
    font-size: 16px;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .admission-section-content li {
    color: #000;
    font-weight: 500 !important;
    font-size: 14px;
    margin: 0;
  }

  /* ============= COURSE SECTION ============= */
  .course-section-container {
    padding: 10px;
    flex-direction: column;
  }
  /* ============= DOWNLOAD SECTION ============= */
  .download-section-row {
    flex-direction: column !important;
  }
  .download-section {
    margin-bottom: 40px !important;
  }
  /* ============= CONTACT SECTION ============= */
  .form-row {
    flex-direction: column;
    margin-bottom: 20px;
    width: 100% !important;
  }
  .form-lottie {
    display: none;
  }
  .form-container {
    border: 1px solid #5650ab;
    border-radius: 10px;
    padding: 20px;
  }
  .form-label-custom {
    font-size: 14px !important;
  }
  .form-btn {
    background-color: #fff;
    color: #5650ab;
    border: 1px solid #5650ab;
    border-radius: 10px;
    padding: 10px;
  }
  .form-btn:hover {
    background-color: #5650ab;
    color: #fff;
    border: 1px solid #5650ab;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s all ease-in-out;
  }
  /* ============= ART OF SELF LEARNING ============= */
  .section-3 {
    max-width: 100% !important;
  }
  .section-3 p {
    margin: 0 !important;
  }
  .section-grid-tab {
    margin-bottom: 10px;
    height: 300px;
    justify-content: center;
  }
  .section-grid-lottie {
    width: 150px;
    height: 150px;
  }
  .section-grid-tab p {
    font-weight: bold;
    font-size: 14px;
    color: #5650ab;
    text-align: center;
  }

  /* ============= INNOVATIVE CURRICULUM SECTION ============= */
  .innovative-section h2 {
    margin-bottom: 20px;
  }
  .curriculum-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
  }
  .curriculum-details-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .curriculum-details-card img {
    width: 20%;
    margin-bottom: 20px;
  }
  .curriculum-details-card h5 {
    font-size: 20px;
    font-weight: bold;
    color: #3d3d3d;
  }
  .caption {
    color: #777;
    font-weight: 600;
    font-size: 16px !important;
  }
  .curriculum-details-card p {
    font-size: 16px;
    text-align: justify;
  }

  /* ============= SCHOOL HOUSES ============= */
  .school-houses-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .school-houses-text-container {
    height: 680px;
    margin-bottom: 30px;
  }
  .school-houses-text {
    flex: 1;
    padding: 10px;
    height: 180px;
  }
  .school-houses-text p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .school-houses-img {
    flex: 1;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .school-houses-img img {
    width: 100%;
    height: auto;
  }
  .school-houses-img:hover {
    flex: 1;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s all ease-in-out;
  }

  /* ============= JAIPURIA EDGE SECTION ============= */
  .je-section {
    flex-direction: column;
  }
  .je-content-holder p {
    font-size: 14px;
    text-align: justify;
  }

  /* ============= FOOTER ============= */
  .footer {
    flex-direction: column !important;
    margin-top: initial !important;
  }
}
