* {
  font-family: "Montserrat", sans-serif;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background-color: #322b6a !important;
}
.brand-img-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.brand-img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 50px;
  flex: 1;
}
.brand-img img {
  width: 30% !important;
  height: auto;
}
.brand-img-real-me {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 50px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start !important;
  margin-top: 10px;
}
.brand-img-real-me img {
  width: 15% !important;
  height: auto;
}
.form-details-container {
  margin-bottom: 50px;
}
.form-details-container h1 {
  color: #fff !important;
  margin: 0;
  font-size: 30px;
  font-weight: 800;
}
.form-details-container p {
  color: #fff !important;
  margin: 0 !important;
}
.form-job-details-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 50px;
}
.form-job-details-container h3 {
  font-weight: 700;
  font-size: 20px !important;
  color: #322b6a !important;
}
.form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  margin-bottom: 50px !important;
}
.form-data-label {
  font-size: 12px !important;
}
.form-btn {
  background-color: #fff !important;
  border: 1px solid #322b6a !important;
  border-radius: 10px;
  color: #322b6a !important;
  width: 100%;
  margin-top: 15px;
  padding: 10px !important;
}
.form-btn:hover {
  background-color: #322b6a !important;
  color: #fff !important;
  transition: 0.3s all ease-in-out;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 20px;
  width: 95%;
  border-radius: 50px;
}
.company-footer p {
  margin: 0;
}
.company-footer img {
  width: 25%;
  height: auto;
}
.footer-bottom {
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .brand-img {
    max-width: 100%;
    max-height: auto;
  }
  .brand-img img {
    width: 50% !important;
    height: auto;
  }
  .brand-img-real-me {
    margin-top: 25px;
  }
  .brand-img-real-me img {
    width: 30% !important;
    height: auto;
  }
  .form-details-container h1 {
    font-size: 20px;
  }
  .form-details-container p {
    color: #fff !important;
    margin: 0;
    font-size: 14px;
  }
  .form-job-details-container {
    padding: 20px;
  }
  .form-container {
    padding: 40px;
    border-radius: 10px;
  }
  .form-data-label {
    font-size: 10px !important;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company-footer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
    width: 95%;
    height: 80px;
    border-radius: 50px;
  }
  .company-footer p {
    font-size: 12px;
    text-align: center;
  }
  .company-footer img {
    width: 20%;
    height: auto;
  }
  .footer-bottom {
    font-weight: bold;
    margin: 0;
    font-size: 14px;
  }
}
