* {
  font-family: "Montserrat", sans-serif;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background-color: #322b6a !important;
}

.brand-img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 50px;
}
.brand-img img {
  width: 10%;
  height: auto;
}
.form-details-container {
  margin-bottom: 50px;
}
.form-details-container h1 {
  color: #fff !important;
  margin: 0;
  font-size: 30px;
  font-weight: 800;
}
.form-details-container p {
  color: #fff !important;
  margin: 0 !important;
}
.form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 30px -25px rgba(255, 255, 255, 1);
  margin-bottom: 50px !important;
}
.form-btn {
  background-color: #fff !important;
  border: 1px solid #322b6a !important;
  border-radius: 10px;
  color: #322b6a !important;
  width: 100%;
  margin-top: 15px;
  padding: 10px !important;
}
.form-btn:hover {
  background-color: #322b6a !important;
  color: #fff !important;
  transition: 0.3s all ease-in-out;
}

@media only screen and (max-width: 768px) {
  .brand-img {
    max-width: 100%;
    max-height: auto;
  }
  .brand-img img {
    width: 20%;
    height: auto;
  }
  .form-details-container h1 {
    font-size: 25px;
  }
  .form-details-container p {
    color: #fff !important;
    margin: 0;
    font-size: 15px;
  }
  .form-container {
    padding: 40px;
    border-radius: 10px;
  }
}
