* {
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #3b8b18;
}

/* ============= Navbar ============= */
.mobile {
  display: none;
}
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  max-width: 20% !important;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand img {
  width: 50%;
  height: auto;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px !important;
}
.dropdown-menu {
  /* width: 800px; */
  width: fit-content !important;
  padding: 20px;
  -webkit-box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  border: 0;
}
.dropdown-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.dropdown-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-right: 50px;
  margin-left: 20px;
}
.dropdown-icon {
  font-size: 20px;
  font-weight: bold;
  color: #3b8b18;
  margin-top: 3px;
}
#dropdown-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px !important;
  text-decoration: none;
}
#dropdown-heading:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px !important;
  text-decoration: none;
  color: #3b8b18 !important;
  transition: ease-in-out 0.2s;
}
.dropdown-item {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 14px;
}
.dropdown-item:hover {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 14px;
  background-color: #00000000 !important;
  color: #3b8b18 !important;
  transition: ease-in-out 0.2s;
}
.nav-item {
  margin-right: 40px;
}
.nav-contact-btn {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3b8b18;
  border-radius: 100px;
  width: 15%;
}
.nav-contact-btn:hover {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3b8b18;
  border-radius: 100px;
  width: 20%;
  transition: ease-in-out 0.8s;
  background: rgb(59, 139, 24);
  background: linear-gradient(
    90deg,
    rgba(59, 139, 24, 1) 0%,
    rgba(39, 221, 18, 1) 62%
  );
}
.nav-contact-btn P {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  color: #fff !important;
  margin: 0;
  padding: 10px;
}
.forward-arrow-icon {
  color: #fff;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  padding: 0;
  margin: 0;
}

/* ================= Product Banner ================= */
.product-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.product-banner h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
  font-size: 60px;
}
.lottie-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottie {
  width: 80%;
  height: auto;
}

/* ================= Marketing Section ================= */
.marketing-section {
  width: 100%;
}
.custom-section {
  margin-top: 100px;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
  text-align: center;
  font-size: 60px;
}
.custom-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.header-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #3b8b18;
}
.header-section h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 44px;
}
.card-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 40px;
}
.onlyn-card {
  width: 300px;
  height: 300px;
  border: 1px solid #c7c7c7c7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
.onlyn-card h1 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}
.onlyn-card:hover {
  background-color: #3b8b18 !important;
  color: #fff !important;
  transition: ease-in-out 0.2s;
}
.custom-section-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.custom-btn {
  width: 200px;
  border: 0;
  border-radius: 100px;
  padding: 10px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  color: #3b8b18;
  font-weight: 600;
}
.custom-btn:hover {
  background-color: #3b8b18;
  color: #fff;
  transition: ease-in-out 0.5s;
}
/* =============== Hero Section =============== */
.hero-section {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px;
}
.hero-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* ========== Footer Section ========== */
.footer-section {
  padding: 50px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-col img {
  width: 30% !important;
}
.footer-col {
  max-width: 100%;
}
.row-one {
  margin-top: 30px;
}
.row-one p {
  margin: 0px;
}
#email {
  font-weight: 700;
  color: #3b8b18;
}
.footer-call-out {
  margin-top: 30px;
}
.footer-call-out p {
  margin: 0;
  color: #777;
}
.footer-call-out-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.footer-call-out-inner img {
  width: 5% !important;
  border-radius: 2px;
}
.footer-call-out-inner p {
  margin-left: 20px;
  color: #000 !important;
  font-weight: 600;
}
.footer-col h5 {
  font-weight: 600;
}
.col-two {
  width: 100%;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  /* Navbar */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: initial !important;
  }
  .navbar-brand {
    max-width: 50% !important;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-brand img {
    width: 50% !important;
    height: auto;
  }
  .nav-contact-btn {
    width: 50% !important;
  }
  /* Product Banner */
  .product-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .product-banner h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900 !important;
    font-size: 44px;
  }
  .product-banner p {
    font-family: "Poppins", sans-serif;
    text-align: left;
  }
  .lottie-holder {
    max-width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lottie {
    width: 80%;
    height: auto;
  }

  /* Marketing Section */
  .custom-section {
    max-width: 100%;
  }
  .custom-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900 !important;
    text-align: center;
    font-size: 44px;
  }
  .header-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #3b8b18;
    max-width: 100%;
  }
  .header-section h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 30px;
  }
  .card-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 20px;
  }
  .onlyn-card {
    max-width: 100%;
    max-height: auto;
    border: 1px solid #c7c7c7c7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
  }
  /* Hero Section */
  .hero-section {
    max-width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
  .hero-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-align: center;
  }
  .hero-section p {
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  /* Footer Section */
  .footer-section {
    flex-direction: column;
  }
  .footer-col h5 {
    font-weight: 600;
    margin-top: 50px;
  }
}
