* {
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #3b8b18;
}

/* ============= Navbar ============= */
.mobile {
  display: none;
}
.navbar {
  background-color: #fff !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-brand {
  max-width: 20% !important;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand img {
  width: 50%;
  height: auto;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px !important;
}
.nav-link:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #3b8b18 !important;
}
.dropdown-menu {
  /* width: 800px; */
  width: fit-content !important;
  padding: 20px;
  -webkit-box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 32px -8px rgba(0, 0, 0, 0.75);
  border: 0;
}
.dropdown-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.dropdown-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-right: 50px;
  margin-left: 20px;
}
.dropdown-icon {
  font-size: 20px;
  font-weight: bold;
  color: #3b8b18;
  margin-top: 3px;
}
#dropdown-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px !important;
  text-decoration: none;
}
#dropdown-heading:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  color: #333333 !important;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px !important;
  text-decoration: none;
  color: #3b8b18 !important;
  transition: ease-in-out 0.2s;
}
.dropdown-item {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 14px;
}
.dropdown-item:hover {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 14px;
  background-color: #00000000 !important;
  color: #3b8b18 !important;
  transition: ease-in-out 0.2s;
}
.nav-item {
  margin-right: 40px;
}
.nav-contact-btn {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3b8b18;
  border-radius: 100px;
  width: 15%;
}
.nav-contact-btn:hover {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3b8b18;
  border-radius: 100px;
  width: 20%;
  transition: ease-in-out 0.8s;
  background: rgb(59, 139, 24);
  background: linear-gradient(
    90deg,
    rgba(59, 139, 24, 1) 0%,
    rgba(39, 221, 18, 1) 62%
  );
}
.nav-contact-btn P {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  color: #fff !important;
  margin: 0;
  padding: 10px;
}
.forward-arrow-icon {
  color: #fff;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  padding: 0;
  margin: 0;
}

/* ================= Product Banner ================= */
.product-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.product-banner h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
  font-size: 60px;
}
.lottie-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottie {
  width: 80%;
  height: auto;
}

/* ================= Marketing Section ================= */
.marketing-section {
  width: 100%;
}
.custom-section {
  margin-top: 100px;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
  text-align: center;
  font-size: 60px;
}
.custom-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.header-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #3b8b18;
}
.header-section h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 44px;
}
.card-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 40px;
}
.onlyn-card {
  width: 300px;
  height: 300px;
  border: 1px solid #c7c7c7c7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
.onlyn-card h1 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}
.onlyn-card:hover {
  background-color: #3b8b18 !important;
  color: #fff !important;
  transition: ease-in-out 0.2s;
}
.custom-section-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.custom-btn {
  width: 200px;
  border: 0;
  border-radius: 100px;
  padding: 10px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  color: #3b8b18;
  font-weight: 600;
}
.custom-btn:hover {
  background-color: #3b8b18;
  color: #fff;
  transition: ease-in-out 0.5s;
}
/* =============== Hero Section =============== */
.hero-section {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px;
}
.hero-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* ========== Footer Section ========== */
.footer-section {
  padding: 50px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
}
.footer-col img {
  width: 30% !important;
}
.footer-col {
  max-width: 100%;
}
.row-one {
  margin-top: 30px;
}
.row-one p {
  margin: 0px;
}
#email {
  font-weight: 700;
  color: #3b8b18;
}
.footer-call-out {
  margin-top: 30px;
}
.footer-call-out p {
  margin: 0;
  color: #777;
}
.footer-call-out-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.footer-call-out-inner img {
  width: 5% !important;
  border-radius: 2px;
}
.footer-call-out-inner p {
  margin-left: 20px;
  color: #000 !important;
  font-weight: 600;
}
.footer-col h5 {
  font-weight: 600;
}
.col-two {
  width: 100%;
  margin-top: 30px;
}
/* ============== Process Section ============== */
.process-section {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #3b8b18 !important;
  padding: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.75);
}
.process-section h1 {
  font-weight: 800;
  color: #fff;
}
.process-col {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.process-col h2 {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}
.process-col p {
  padding-right: 20px;
  margin-top: 20px;
  color: #fff;
}
.process-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.process-icon {
  font-size: 30px;
  margin-right: 20px;
  color: #fff;
}
.dotted-line {
  border-bottom-width: 0.5px solid;
  border-bottom-color: #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: dashed;
  width: 150px;
}

/* ============ Tech Work ============ */
.tech-work {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.tech-work h1 {
  font-weight: 800;
  margin-bottom: 50px;
}
.accordion-button {
  font-weight: 700;
}
.accordion-button:hover {
  color: #3b8b18;
}
.accordion-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.custom-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  max-width: 100%;
}
.custom-card img {
  width: 30%;
  height: auto;
  padding-bottom: 15px;
}
.custom-card:hover {
  background-color: #e5e5e5e5;
  transition: ease-in-out 0.5s;
}

/* ================ Middle Section ================ */
.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.middle-section h5 {
  font-size: 18px !important;
  font-weight: 400;
  margin-bottom: 50px;
}
.middle-section h1 {
  font-weight: 800;
  margin-bottom: 30px;
}
.new-btn {
  background-color: #3b8b18;
  border: 0;
  padding: 20px;
  border-radius: 100px;
  font-weight: 700;
  color: #fff;
}

/* ================ Main Banner ================ */
.main-banner {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-banner h1 {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
}
.main-banner p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

/* ================ All Services ================ */
.all-services {
  margin-top: 200px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.all-services h1 {
  font-weight: 800;
  padding-top: 50px;
  margin-bottom: 30px;
}
.all-services p {
  padding-right: 50px;
  margin-bottom: 30px;
}
.services-img-box {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-img-box img {
  width: 80%;
  height: auto;
}
.icon-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.all-services-inner-img {
  max-width: 50px;
  height: 50px;
  border: 1px solid #c7c7c7c7;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.all-services-inner-img img {
  width: 50%;
  height: auto;
}
.custom-new-btn {
  background-color: #3b8b18;
  border: 0;
  padding: 20px;
  border-radius: 100px;
  font-weight: 700;
  color: #fff;
}

<<<<<<< HEAD
/* ============= About ============= */
.about-section {
  margin-top: 200px;
  margin-bottom: 200px;
}
.about-section-header {
=======
/* ============ Marketing Banner ============ */
.marketing-banner {
  margin-top: 200px;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
}
.marketing-banner h1 {
  font-weight: 800;
  font-size: 54px;
  margin-bottom: 50px;
}
.marketing-banner p {
  margin-bottom: 30px;
}
.marketing-banner-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing-banner-container img {
  width: 80%;
  height: auto;
}
.talk-btn {
  background-color: #3b8b18;
  border: 0;
  padding: 20px;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  width: 50%;
}
.marketing-banner-bottom {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  padding: 100px;
}
.gradient-card {
  background: rgb(59, 139, 24);
  background: linear-gradient(
    90deg,
    rgba(59, 139, 24, 1) 0%,
    rgba(84, 247, 12, 1) 100%
  );
  border-radius: 10px;
>>>>>>> df33eca2f5a3c28a151be870c67106b6caa121f8
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD
}
.about-section-header h3 {
  font-weight: 300 !important;
  font-size: 24px;
  text-align: center;
}
.about-section-header h1 {
  font-weight: 700 !important;
  font-size: 60px;
  text-align: center;
}
.about-section-header p {
  text-align: center;
}
=======
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;
  height: 150px;
}
.gradient-card h1 {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.gradient-card p {
  color: #fff;
  margin: 0;
  padding: 0;
}
.marketing-banner-bottom-text p {
  margin-left: 20px;
  padding: 20px;
}

/* ========= Marketing Carousel ========= */
.marketing-carousel {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  max-width: 100% !important;
  padding-bottom: 80px;
}
.marketing-carousel h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.marketing-carousel h1 {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 800;
  font-size: 50px;
}
.marketing-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}
.carousel-control-prev-icon {
  content: url("../assets/images/icons/arrow-back-circle-outline.svg");
}
.carousel-control-prev-icon:hover {
  content: url("../assets/images/icons/arrow-back-circle-outline.svg");
}
.carousel-control-next-icon {
  content: url("../assets/images/icons/arrow-forward-circle-outline.svg");
}
.carousel-indicators {
  padding-top: 150px !important;
}
.carousel-content {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column;
}
.carousel-content h3 {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 20px;
}

/* ========= What we do  ========= */
.onlyn-top-section {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.onlyn-top-section h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.onlyn-top-section h1 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 50px;
}
.new-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin: 20px;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.box h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
/* ================= Media Query ================= */
>>>>>>> df33eca2f5a3c28a151be870c67106b6caa121f8
@media only screen and (max-width: 768px) {
  /* Navbar */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: initial !important;
  }
  .navbar {
    background-color: #fff !important;
    position: initial;
  }
  .navbar-brand {
    max-width: 50% !important;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-brand img {
    width: 50% !important;
    height: auto;
  }
  .nav-contact-btn {
    display: none;
  }
  .dropdown-menu {
    width: initial !important;
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  /* Product Banner */
  .product-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .product-banner h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900 !important;
    font-size: 44px;
  }
  .product-banner p {
    font-family: "Poppins", sans-serif;
    text-align: left;
  }
  .lottie-holder {
    max-width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lottie {
    width: 80%;
    height: auto;
  }

  /* Hero Section */
  .hero-section {
    max-width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
  .hero-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-align: center;
  }
  .hero-section p {
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  /* Process Section */
  .process-section {
    margin-top: 50px;
    margin-bottom: 10px !important;
    background: #3b8b18 !important;
    padding: 50px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .process-section h1 {
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-size: 44px;
  }
  .process-icon {
    font-size: 44px;
    margin-right: 20px;
  }
  .dotted-line {
    border-bottom-width: 0.5px solid;
    border-bottom-color: #fff;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: dashed;
    width: 150px;
  }

  .process-col {
    flex-direction: column !important;
  }
  .process-row {
    margin-top: 50px;
  }
  .process-col h2 {
    font-weight: 700;
    font-size: 22px;
  }
  .process-col p {
    padding-right: 10px;
    margin-top: 20px;
    max-width: max-content !important;
  }
  /* ================ Middle Section ================ */
  .middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .middle-section h5 {
    font-size: 18px !important;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .middle-section h1 {
    font-weight: 800;
    margin-bottom: 30px;
  }
  .new-btn {
    background-color: #3b8b18;
    border: 0;
    padding: 20px;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
  }

  .accordion-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .custom-card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
    max-width: 100%;
  }
  .custom-card img {
    width: 30%;
    height: auto;
    padding-bottom: 15px;
  }

  /* Footer Section */
  .footer-section {
    flex-direction: column;
  }
  .footer-col h5 {
    font-weight: 600;
    margin-top: 50px;
  }
  .tech-work h1 {
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
  }
  /* ================ Main Banner ================ */
  .main-banner {
    max-width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-banner h1 {
    max-width: fit-content;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
  }
  .main-banner p {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    max-width: 100%;
  }
  /* ================ All Services ================ */
  .all-services {
    margin-top: 100px !important;
    margin-bottom: 150px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column-reverse;
    max-width: fit-content !important;
  }
  .all-services h1 {
    font-weight: 800;
    padding-top: px;
    margin-bottom: 30px;
    text-align: center;
  }
  .all-services p {
    padding-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  #web-development {
    flex-direction: column !important;
  }
  .services-img-box {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-img-box img {
    width: 80%;
    height: auto;
  }
  .icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-services-inner-img {
    max-width: 50px;
    height: 50px;
    border: 1px solid #c7c7c7c7;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .all-services-inner-img img {
    width: 50%;
    height: auto;
  }
  .custom-new-btn {
    background-color: #3b8b18;
    border: 0;
    padding: 15px;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
    width: 100%;
  }

  /* Marketing Section */
  .marketing-section {
    max-width: fit-content !important;
  }
  .custom-section {
    max-width: 100%;
  }
  .custom-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900 !important;
    text-align: center;
    font-size: 44px;
  }
  .header-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #3b8b18;
    max-width: 100%;
  }
  .header-section h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 26px;
  }
  .card-section {
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    padding: 10px;
  }
  .onlyn-card {
    max-width: fit-content !important;
    max-height: auto;
    border: 1px solid #c7c7c7c7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
  }
<<<<<<< HEAD
  /* ============= About ============= */
  .about-section {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;
  }
  .about-section-header h3 {
    font-weight: 300 !important;
    font-size: 24px;
    text-align: center;
  }
  .about-section-header h1 {
    font-weight: 700 !important;
    font-size: 44px;
    text-align: center;
  }
  .about-section-header p {
=======
  /* ============ Marketing Banner ============ */
  .marketing-banner {
    margin-top: 200px;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
  }
  .marketing-banner h1 {
    font-weight: 800;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  .marketing-banner p {
    margin-bottom: 30px;
    text-align: center;
  }
  .talk-btn {
    background-color: #3b8b18;
    border: 0;
    padding: 20px;
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    width: 100%;
  }

  .marketing-banner-bottom {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    padding: 20px;
    max-width: 100%;
  }
  .gradient-card {
    background: rgb(59, 139, 24);
    background: linear-gradient(
      90deg,
      rgba(59, 139, 24, 1) 0%,
      rgba(84, 247, 12, 1) 100%
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    width: max-content;
    height: 150px;
  }
  .gradient-card h1 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }
  .gradient-card p {
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .marketing-banner-bottom-text p {
    margin-left: 0;
    padding: 20px;
    text-align: center;
  }
  .marketing-carousel h1 {
    text-align: center;
    margin-bottom: 44px;
    font-weight: 800;
    font-size: 36px;
  }
  .marketing-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carousel-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .carousel-content {
    margin-left: 0;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 20px;
  }
  .carousel-content h3 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 50px !important ;
  }
  .carousel-content p {
    text-align: center;
  }
  .onlyn-top-section {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 100%;
  }
  .new-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box h4 {
    text-align: center;
  }
  .box p {
    text-align: center;
  }
  .onlyn-card h1 {
    text-align: center;
  }
  .onlyn-card p {
>>>>>>> df33eca2f5a3c28a151be870c67106b6caa121f8
    text-align: center;
  }
}
